<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Multiplify"
        tools:targetApi="31">
        <activity
            android:name=".SelectNumberExerciseActivity"
            android:exported="false"
            android:label="@string/title_activity_select_number_exercise"
            android:theme="@style/Theme.Multiplify" />
        <activity
            android:name=".AllNumbersExerciseActivity"
            android:exported="false"
            android:label="@string/title_activity_all_numbers_exercise"
            android:theme="@style/Theme.Multiplify" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Multiplify">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>